* {
	font-family: 'helvetica-bold';

}

.content {
	height: 100%;
	min-height: 550px;
	width: 90%;
	margin: 100px auto;
}


.greeting {
	font-size: 15px;
	padding: 20px 0 0 0;
	border-top: 5px solid #00CC9A;
}

.description {
	font-size: 36px;
	padding: 20px 0 0 0;
}
